{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href={%static "./css/style.css" %}>
  <title>Spam Detection</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>

<body>

  {% for message in messages%}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show b-0 m-0 t-10" role="alert">
    <strong>Message!</strong> {{ message }}
    <button type="button b-2" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <div class="conta p-0">
    <section class="photographer section1">
      <div class="text text-center">
        <h1>Human Like Machines - Project 2</h1>
        <p class="pb-0 mb-0">Spam Detection using "CountVectorizer and MultinomialNB".</p>
        <p class="pt-0 mt-0">'Accuracy: 93%'</p>
        <div class="ml-5 pt-4 float-md-center text-center">
          <a
            href="https://github.com/athu-kawale2002/Human-Like-Machines/tree/master/Project-2_Email_Spam_Detection/ML%20Team/Spam%20CSV's">
            <h2>Dataset</h2>
          </a>
        </div>
        <p>Refer the above dataset to test the Model</p>
      </div>

    </section>
    <section class="developer section2">
      <form id="myForm" method="post" action="/spam">
        {% csrf_token %}
        <div class="text text-center">
          <h1>Spam Detection</h1>
          <p class="pt-2">Processed pig is white trash meat. Some people call it Spam.</p>
        </div>
        <div class="row">
          <div class="col-md">
            <label for="email">Enter Email here. . .</label>
            <input type="text" id="email" name="email" placeholder="Enter Email..">
          </div>
          <div class="col-md">
            <label for="sms">Enter SMS here. . .</label>
            <input type="text" id="sms" name="sms" placeholder="Enter Sms..">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <input class="m-0" type="submit" value="submit">
        </div>
      </form>
    </section>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>