html{
  scroll-behavior: smooth;
}
* {
  padding:0;
  margin:0;
  overflow: hidden;
}
.conta::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
a{
  text-decoration: none;
}

.conta{
  padding: 0;
  height:100vh;
  display: flex;
}

.col-md{
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
}
 .section1 {
  width: 38%;
  height:100%;
  display: flex;
  justify-content: center;
}
.section2 {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1;
  
}
.section1 .text{
   padding: 25% 25px;
}
.section1 h1 {
  font-size: 28px;
  color:#000;
  font-weight: 600;
   padding: 15px 15px;
}
.section1 p {
  font-size: 20px;
  font-style: oblique;
  color:#000;
    padding: 5px 10px;
}
.section1 h2 {
  background:rgba(0,0,0,0.6);
  width: 53%;
  margin-left: 15%;
  color:white;
  font-size: 20px;
  font-weight: 100px;
  padding: 12px 21px;
}
.m-5{
  margin-top: 10%;
}
.section2 h1 {
  font-size: 35px;
  color:#000;
  font-weight: 600;
   padding: 15px 15px;
}
.section2 p {
  font-size: 20px;
  font-style: oblique;
  color:#000;
    padding: 5px 10px;
}

.photographer{
  background:url('../img/img.jpg') #c5c9c9;
  background-position: center;
 background-size: cover;
  background-blend-mode: multiply;
}



.developer{
  background:url('../img/img2.jpg') ;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
label {
  font-size: 17px;
  font-weight: 500;
  font-style: oblique;
}
.col-field{
  padding: 1.5rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
}
input[type=text],
    select {
      width: 100%;
      height: 40%;
      padding: 45px 40px;
      margin: 8px 0;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 90%;
      background: rgba(0,0,0,0.6);
      color: white;
      padding: 13px 40px;
      margin: 4px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #ccc;
    }

 /*---Media Quaries---*/
 @media screen and (max-width:48em) {
  .conta{
 height:100vh;
 display: grid;
}
* {
  padding:0;
  margin:0;
  overflow: visible;
}
.section1 {
  width: 100%;
  height:100%;
  justify-content: center;
}
.section1 .text{
   padding: 10% 15px;
}
.section1 h1 {
  font-size: 20px;
  color:#000;
  font-weight: 600;
}
.section1 p {
  font-size: 16px;
  font-style: oblique;
  color:#000;
}
.section1 h2 {
 background: rgba(0,0,0,0.6);
 width: 35%;
 margin-left: 23%;
 margin-top: 0;
 color: white;
 font-size: 16px;
 font-weight: 100px;
 padding: 8px 10px;
}
.col-md{
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.section2 {
  display: block;
  height:100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section2 h1 {
  font-size: 25px;
  color:#000;
  font-weight: 600;
  margin-top: 10%;
  padding: 0;
}
.section2 p {
  font-size: 16px;
  font-style: oblique;
  color:#000;
  padding: 15px 10px;
}

.col-field{
  padding: 0 ;
  margin-top: 0 ;
  margin-bottom: 0 ;
}
input[type=text],
    select {
      width: 100%;
      height: 40%;
      padding: 45px 40px;
      margin: 8px 0;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 90%;
      background: rgba(0,0,0,0.6);
      color: white;
      padding: 13px 40px;
      margin: 4px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #ccc;
    }

}